body{
	background-color: white;
	box-shadow: 1px 1px 10px grey;
	margin: auto;
	max-width: 1100px;
}
header{
	background-color: #fff;
	width: auto;
	height: 300px;
	display: flex;
}
.children{
	width: 50px;
	height: 50px;
}
.photodeprofil{
	background-color: #e57373;
	min-width: 400px;
	width: 400px;
	max-width: 400px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
img{
	border-radius: 50%;
	width: 150px;
	height: 150px;
	object-fit: cover;
	border: #b71c1c solid 3px;
}
.nom{
	background-color: #fff;
	width: 100%;
	height: 100%;
	padding-top: 30px;
	padding-left: 100px;
}
header h1{
	font-size: 55px;
	font-family: 'Special Elite', cursive;
}
header div{
	font-family: 'Indie Flower', cursive;
}
span{
	color: #e57373;
}
.develo{
	border-bottom: 1.5px #e57373 solid;
	color: black;
}
main{
	background-color: #fff;
	width: auto;
	height: auto;
	display: flex;
	flex-direction: row;
}
main h2{
	border-bottom: 1px #e57373 solid;
	font-family: 'Cuprum', sans-serif;
}
.children1{
	width: 50px;
	height: 50px;
	flex: 1;
}
.aside{
	background-color:  #e57373;
	min-width: 400px;
	width: 400px;
	max-width: 400px;
	height: auto;
	display: flex;
	flex-direction: column;
}
.aside h2{
	color: #e57373;
	font-family: 'Cuprum', sans-serif;
	text-align: center;
	background-color: black;
	padding-right: 10px;
}
.informations{
}
.informations div{
	margin: 10px;
}
.aproposdemoi{
	flex:1;
}
.aproposdemoi div{
	margin: 10px;
}
.loisirs{
}
.aside div{
	text-align: center;
	font-family: 'Indie Flower', cursive;
	font-size: 17px;
}
.aside i{
	font-size: 40px;
	margin-right: 10px;
	padding-left: 25px;
}
.article{
	background-color: #fff;
	height: auto;
}
.article h1{
	font-family: 'Special Elite', cursive;
}
.article div{
	font-size: 19px;
	font-family: 'Indie Flower', cursive;
}
h2 .fas{
	color: #e57373;
	font-size: 30px
}
i{
	font-size: 40px;
	margin-right: 10px;
	padding-left: 25px;
}
.titre1{
	padding: 0px;
	padding-left: 100px;
}
.titre2{
	padding: 0px;
	padding-left: 100px;
}
.titre3{
	padding: 0px;
	padding-left: 100px;
}
.recommandationGlobal{
	display: flex;
	justify-content: space-between;
	padding-left: 100px;
	padding-right: 50px;
}
ul{
	list-style: none;
}
li{
	margin-left: 55px;
	font-family: 'Montserrat', sans-serif;
	display: flex;
}
li>div:first-child{
	min-width: 150px;
	width: 100px;
	max-width: 100px;
	padding-bottom: 50px;
	transform: translate(0, -0.65vh);
}
li::before{
	content: "";
	display: inline-block;
	width: 10px;
	min-width: 10px;
	max-width: 10px;
	height: 10px;
	min-height: 10px;
	max-height: 10px;
	background-color: #e57373;
	border-radius: 50%;
	margin-left: 4px;
	margin-right: 8px;
}
li:first-child::before{
	width: 4px;
	min-width: 4px;
	max-width: 4px;
	height: 4px;
	min-height: 4px; 
	max-height: 4px;
	border: #e57373 1px solid;
	padding: 2px;
	background-clip: content-box;
}

@media screen and (min-width: 851px) and (max-width: 1080px){
	header h1{
		font-size: 40px;
	}
	.recommandationGlobal{
		display: flex;
		flex-direction: row;
		padding-left: 100px;
		padding-right: 20px;
	}

}

@media screen and (max-width: 850px){
	header{
		display: flex;
		flex-direction: row;
		height: 115px;
		width: 100%;
	}
	main{
		display: flex;
		flex-direction: column;
		height: auto;
	}
	.photodeprofil{
		background-color: #fff;
		min-width: 25px;
		width: 250px;
		max-width: 250px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.nom{
		background-color: #fff;
		padding-top: 10px;
		padding-left: 0px;
		min-width: 25px;
	}
	.develo{
	border-bottom: 1.5px #e57373 solid;
	color: black;
    }
	.aside{
		min-width: 100%;
		width: 100%;
		max-width: 100%;
	}
	.aside div{
		text-align: center;
		font-size: 13px;
	}
	.article{
		min-width: 100%;
		width: 450px;
		max-width: 100%;
	}
	.article div{
		line-height: 1;
		font-size: 16px;
		padding-right: 10px;
	}
	.article i{
		margin-right: 10px;
		padding-left: 10px;
	}
	.informations{
		padding-bottom: 1px;
		line-height: 1;
	}
	.aproposdemoi{
		padding-bottom: 1px;
		line-height: 1;
	}
	.loisirs i{
		font-size: 20px; 
		padding-left: 20px;
		padding-right: 30px;
	}
	.titre1{
		padding-top: 0px;
		padding-left: 10px;
	}
	.titre2{
		padding-top: 0px;
		padding-left: 10px;
	}
	.titre3{
		padding-top: 0px;
		padding-left: 10px;
	}
	.recommandationGlobal{
		display: flex;
		flex-direction: column;
		padding-left: 50px;
		margin-left: 10px;
	}
	header h1{
		font-size: 23px;
	}
	header div{
		font-size: 13px;
	}
	main h1{
		font-size: 18px;
	}
	h1{
		font-size: 19px;
	}
	h1 .fas{
		color: #e57373;
		font-size: 30px
	}
	h3{
		font-size: 15px;
	}
	img{
		border-radius: 50%;
		width: 100px;
		height: 100px;
		border: #e57373 ridge 2px;
	}
	ul{
		padding-left: 10px;
	}
	li{
		font-size: 15px;
		display: flex;
		flex-direction: column;
		padding-bottom: 20px;
	}
	li>div:first-child{
		min-width: 60px;
		width: 120px;
		max-width: 120px;
		padding-bottom: 0px;
		padding-left: 20px;
		transform: translate(0, -1.7vh);
	}
	li::before{
		content: "";
		display: inline-block;
		width: 10px;
		min-width: 10px;
		max-width: 10px;
		height: 10px;
		min-height: 10px;
		max-height: 10px;
		background-color: #e57373;
	}
}


