body{
	background-color: #fff;
	margin: 0;
	padding: 0;
}
header{
	background-color: #fff;
	width: auto;
	height: 300px;
	display: flex;
}
.children{
	width: 50px;
	height: 50px;
}
.photodeprofil{
	background-color: #ef5350;
	min-width: 400px;
	width: 400px;
	max-width: 400px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
img{
	border-radius: 50%;
	width: 150px;
	height: 150px;
	object-fit: cover;
	border: white solid 1px;
}
.nom{
	background-color: #fff;
	width: 100%;
	height: 100%;
	padding-top: 30px;
	padding-left: 20px;
}
header h1{
	font-size: 55px;
	font-family: 'Special Elite', cursive;
}
header div{
	font-family: 'Indie Flower', cursive;
}
span{
	color: #ef5350;
}
.develo{
	border-bottom: 1.5px #ef5350 solid;
	color: black;
}
main{
	background-color: #fff;
	width: auto;
	height: auto;
	display: flex;
	flex-direction: row;
}
main h1{
	border-bottom: 1px #ef5350 solid;
}
.children1{
	width: 50px;
	height: 50px;
}
.section{
	background-color:  #ef5350;
	min-width: 400px;
	width: 400px;
	max-width: 400px;
	height: auto;
	display: flex;
	flex-direction: column;
}
h3{
	box-shadow: black;
	color: #ef5350;
	font-family: 'Cuprum', sans-serif;
	text-align: center;
	background-color: black;
	padding-right: 10px;
}
.informations{
	padding-bottom: 300px;
}
.aproposdemoi{
	flex:1;
}
.loisirs{
}
.section div{
	text-align: center;
	font-family: 'Indie Flower', cursive;
	font-size: 17px;
}
.section i{
	font-size: 40px;
	margin-right: 10px;
	padding-left: 25px;
}
.article{
	background-color: #fff;
	width: 100%;
	height: auto;
}
.article h1{
	font-family: 'Special Elite', cursive;
}
.article div{
	font-size: 19px;
	font-family: 'Indie Flower', cursive;
}
h1 .fas{
	color: #ef5350;
	font-size: 30px
}
i{
	font-size: 40px;
	margin-right: 10px;
	padding-left: 25px;
}
.titre1{
	padding: 30px;
	padding-left: 100px
	line-height: ;
}
.titre2{
	padding: 30px;
	padding-left: 100px
}
.titre3{
	padding: 30px;
	padding-left: 100px
}
.recommandationGlobal{
	display: flex;
	justify-content: space-between;
	padding-left: 100px;
	padding-right: 200px;
}
ul{
	list-style: none;
}
li{
	margin-left: 55px;
	font-family: 'Montserrat', sans-serif;
	display: flex;
}
li>div:first-child{
	min-width: 150px;
	width: 100px;
	max-width: 100px;
	padding-bottom: 50px;
	transform: translate(0, -0.65vh);
}
li::before{
	content: "";
	display: inline-block;
	width: 10px;
	min-width: 10px;
	max-width: 10px;
	height: 10px;
	min-height: 10px;
	max-height: 10px;
	background-color: #ef5350;
	border-radius: 50%;
	margin-left: 4px;
	margin-right: 8px;
}
li:first-child::before{
	width: 4px;
	min-width: 4px;
	max-width: 4px;
	height: 4px;
	min-height: 4px; 
	max-height: 4px;
	border: #ef5350 1px solid;
	padding: 2px;
	background-clip: content-box;
}


@media screen and (max-width: 800px){
	body{
		
	}
	header{
		display: flex;
		flex-direction: row;
		height: 115px;
		width: 100%;
		padding-bottom:;
	}
	main{
		display: flex;
		flex-direction: column;
		height: auto;
	}
	.photodeprofil{
		background-color: #fff;
		min-width: 25px;
		width: 250px;
		max-width: 250px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.nom{
		background-color: #fff;
		padding-top: 10px;
		padding-left: 0px;
		min-width: 25px;
	}
	.develo{
	border-bottom: 1.5px #ef5350 solid;
	color: black;
    }
	.section{
		min-width: 100%;
		width: 100%;
		max-width: 100%;
	}
	.section div{
		text-align: center;
		font-size: 13px;
	}
	h3{
		box-shadow: red;
		color: #ef5350;
		background-color: black;
	}
	.article{
		min-width: 100%;
		width: 450px;
		max-width: 100%;
	}
	.article div{
		line-height: 1;
		font-size: 16px;
		padding-right: 10px;
	}
	.article i{
		margin-right: 10px;
		padding-left: 10px;
	}
	.informations{
		padding-bottom: 1px;
		line-height: 1;
	}
	.aproposdemoi{
		padding-bottom: 1px;
		line-height: 1;
	}
	.loisirs i{
		font-size: 20px; 
		padding-left: 20px;
		padding-right: 30px;
	}
	.titre1{
		padding-top: 0px;
		padding-left: 10px;
	}
	.titre2{
		padding-top: 0px;
		padding-left: 10px;
	}
	.titre3{
		padding-top: 0px;
		padding-left: 10px;
	}
	.recommandationGlobal{
		display: flex;
		justify-content: space-around;
		padding-left: 5px;
		margin-left: 10px;
	}
	header h1{
		font-size: 23px;
	}
	header div{
		font-size: 13px;
	}
	main h1{
		font-size: 18px;
	}
	h1{
		font-size: 19px;
	}
	h1 .fas{
		color: #ef5350;
		font-size: 30px
	}
	h3{
		font-size: 15px;
	}
	img{
		border-radius: 50%;
		width: 100px;
		height: 100px;
		border: #ef5350 ridge 2px;
	}
	ul{
		padding-left: 10px;
	}
	li{
		font-size: 15px;
		display: flex;
		flex-direction: column;
		padding-bottom: 20px;
	}
	li>div:first-child{
		min-width: 60px;
		width: 120px;
		max-width: 120px;
		padding-bottom: 0px;
		padding-left: 20px;
		transform: translate(0, -1.7vh);
	}
	li::before{
		content: "";
		display: inline-block;
		width: 10px;
		min-width: 10px;
		max-width: 10px;
		height: 10px;
		min-height: 10px;
		max-height: 10px;
		background-color: #ef5350;
		border-radius: 50%;
	}


